
/*
color palette from https://github.com/dubstrike/twitter-dark-mode/blob/master/dist/darkmode.css

http://codepen.io/CoopCoding/pen/ZezVNg
And some TLV colors

Border: #464A54
Hover color: #686d7b
Text 1: #ffffff
Text 2: #b1bbc3
Emphasised Text: #76848f
#f5f8fa
#f3f3f3
#b3b3b3
#b1bbc3
#abb8c2
#aab8c2
#8999a5
Darker Text: #8899a6
#3dabf5
Background: #2f3d51
#253141
#212c3b
#212c3a
Link 1: #1da1f2
Link 2: #4581b6
Link 3: #848d95
Link 4: #d5d9dd
Visited LInk 1: #C18176
Visited LInk 2: #a56e64
#1c9dec
#1c2531
#161d27
#142f52
#131920
#121921
#0f141a
#0e131a
#0ab5fa
#090c10
#085a91
#002b33
#000000
*/

html,
html > body {
    background-color: #2f3d51 !important;
    color: #b1bbc3 !important;
}
html * {
    color: #b1bbc3;
    box-shadow: none;
    border-color: #464a54 !important;
}
html::selection {
    background: rgba(142, 142, 142, 0.3) !important;
}
html a:link {
    color: #d5d9dd !important;
}
html a:visited {
    color: #a56e64 !important;
}
/*Top bar and search input*/

#cnt > div,
#hdtbSum,
#gb + div div {
    background: #2f3d51 !important;
}
#hdtb {
    border-bottom: 1px solid #464A54;
}
#sfdiv {
    background-color: #2f3d51 !important;
}
#sfdiv >div {
    background-color: #2f3d51 !important;
}
#sbtc > div:not(.sbibtd) .sbsb_a {
    background-color: #2f3d51 !important;
}
#sb_ifc0,
#gs_st0,
#sfdiv > div > div {
    background-color: #2f3d51 !important;
}
#sb_ifc0 {
    border: 1px solid #464a54 !important;
}
#sbtc > div.gstl_0.sbdd_a > div:nth-child(2) > div.sbdd_b > div > ul > li:hover {
    background: #464a54 !important;
}
#searchform div[aria-label="Google apps"] > * {
    background: #464a54 !important;
}
/*Search button*/

#_fZl:hover svg {
    fill: #686D7B;
}
/*Speech input microphone button*/

#gs_st0 a[aria-label="Search by voice"] {
    display: none;
}

/*Camera icon for image search*/

#qbi {
 filter: invert();
}

/*Settings button*/

#hdtb .hdtb-mitem a#abar_button_opt:hover {
    color: #b1bbc3;
}
/*More button*/

#hdtb .hdtb-mitem a.hdtb-dd-b:hover {
    color: #b1bbc3;
}
#lb #_P9o {
    background-color: #2f3d51 !important;
}
#hdtb-msb .hdtb-mitem:not(.hdtb-msel) a {
    color: #b1bbc3 !important;
}
#hdtb-msb .hdtb-mitem:not(.hdtb-msel):hover a {
    color: #686d7b !important;
}
/*tools menu hover*/

#hdtb-tls:hover {
    background-color: #2f3d51 !important;
    background-image: none !important;
    border-color: #686d7b !important;
}
/*Dropdown menus for button when click tools*/

.hdtbU.hdtb-mn-o {
    background-color: #2f3d51 !important;
}
.hdtbU.hdtb-mn-o li {
    background-color: #2f3d51 !important;
}
/*Dropdown menu for settings button*/

#ab_options {
    background-color: #2f3d51 !important;
}
/*Chrome apps button top right*/

#gbwa .gb_b.gb_3b {
/*     background-position-x: 64px; */
/*     background-position-y: -35px; */
  filter: invert();
}
/*Notification bell*/

#gbwa + div > div > a[aria-label="0 Google notifications"] {
 filter: invert();
}

/*Account Button*/

#gbwa ~ div > div > a[href^="https://accounts.google.com"] span {
    background-image: none !important;
}
#gbwa ~ div > div > a[href^="https://accounts.google.com"] span:before {
    content: none !important;

}
#gbwa ~ div > div > a[href^="https://accounts.google.com"] span {
background: url(https://calendar.google.com/googlecalendar/images/combined_v46_vr.png) -267px -33px no-repeat !important;
    filter: invert();
display: block;
    margin: -1px;
    overflow: hidden;
    width: 28px;
    z-index: 0;
    height: 19px;
    margin-top: 5px;
  opacity: 0.8
}
#gbwa ~ div > div > a[href^="https://accounts.google.com"] span:hover {

  opacity: 1
}
/*Account button popup*/

#gbw div[aria-label="Account Information"] {
    background-color: #2f3d51;
}
#gbw div[aria-label="Account Information"] a[href="https://myaccount.google.com/?utm_source=OGB"] {
    color: #ececec !important;
}
#gbw div[aria-label="Account Information"] > div:last-child,
#gbw div[aria-label="Account Information"] > div:last-child a {
    background-color: #2f3d51;
}
/*Search Results*/

#ires .g a {
    color: #d5d9dd !important;
}
#ires .g a:visited {
    color: #a56e64 !important;
}
cite {
    color: #8899a6 !important;
}
#ires .g cite {
    color: #8899a6 !important;
}
#ires #nqsbq {
    background-color: #2f3d51 !important;
}
#ires .g cite + div > a {
    background-color: #2f3d51 !important;
}
#ires .g cite + div > div {
    background-color: #2f3d51 !important;
}
g-inner-card {
    background-color: #2f3d51 !important;
    border: 1px solid #464a54 !important;
}
g-scrolling-carousel g-fab {
    background-color: inherit !important;
}

/*Results snippet emphasis*/
.s .st em, .st.s.std em {
    color: #76848f !important;
}


/*pdf listing*/

#rso .g span.w {
    color: #b1bbc3;
}
/*Right hand side stuff*/

#rhs_block * {
    color: #b1bbc3 !important;
}
/*overlay thing that shows briefly when you do an instant search and it replaces the results*/

.flyr-o,
.flyr-w,
._Db:hover {
    background-color: #2f3d51 !important;
}
/*footer*/

#fbar {
    background-color: #2f3d51 !important;
}
#foot #navcnt .cur {
    color: #b1b1b1 !important;
}
/*MarkSearch Stuff*/

#msResultsBox {
    background-color: #2f3d51 !important;
}
.msSearchButtonResultsPageGoogle span {
    color: white !important;
}
/*Calculator*/

#ires #rso #cwmcwd {
    border: 1px solid #464A54 !important;
    background-color: #2f3d51 !important;
}
#cwmcwd #cwtlbb + .cwtlwm {
    background-color: #2f3d51 !important;
}
#cwmcwd .cwrb-tpl,
#cwmcwd .cwdb-tpl,
#cwmcwd .cwdgb-tpl,
#cwmcwd .cwdrsb-tpl,
#cwmcwd .cwlgb-tpl {
    background: #2f3d51 !important;
}
#cwmcwd .cwrb-tpl:hover,
#cwmcwd .cwdb-tpl:hover,
#cwmcwd .cwdgb-tpl:hover,
#cwmcwd .cwdrsb-tpl:hover,
#cwmcwd .cwlgb-tpl:hover {
    border: 1px solid #686d7b !important;
}
#cwmcwd #cwtlbb.cwtlbh {
    border: 1px solid #686d7b !important;
    border-top: 1px solid #686d7b !important;
}
#cwmcwd #cwtlbb.cwtlbs {
    border: 1px solid #a56e64 !important;
}

/*Currentcy converter*/

#rso .currency.obcontainer {
 background-color: #2f3d51;
 outline: 1px solid #464A54;
}

#rso .currency.obcontainer select, #rso .currency.obcontainer input {
  background-color: #2f3d51;
  background-image: none;
    color: #b1bbc3 !important;
}

#ccw_chart {
 filter: invert();
}

/*unit converter*/

#rso .obcontainer.card-section {
   background-color: #2f3d51;
 outline: 1px solid #464A54;
}

#rso .obcontainer.card-section select, #rso .obcontainer.card-section input {
  background-color: #2f3d51;
}

/*Google Translate*/

#tw-container {
    background-color: #2f3d51;
}

/*Weather*/

#wob_wc {
   background-color: #2f3d51;
}
#wob_wc .wob_ds {
background-color: #2f3d51;
 border: 1px solid #a56e64 !important;
}

/*Timer*/

#timer-stopwatch-container, #timer-stopwatch-container .act-switch-area, #timer-stopwatch-container .act-tim-txt-cnt > div{
  background-color: #2f3d51 !important;
}

/*Some div that shows up when you go from search page to results page*/

#viewport > .sfbgx {
    background-color: #2f3d51;
}

/*Image search page*/
/*Search input popup*/
#qbp, #qbug > *, #qbui, #qbfilebp{
  background-color: #2f3d51 !important;
}
#qbui {
  border: 1px solid #464A54 !important;
}
#qbug > div >div.qbtbha{
  background-color: #2f3d51 !important;
}
#qbpiu {
  color: #b1bbc3 !important;
}

#qbig > .qbwr > div.qbtbha > div.qbtbha {
  background-color: #2f3d51 !important;
}
#qbig > .qbwr > div.qbtbha > div.qbtbha span{
color: #b1bbc3 !important;
}
#qbfti, #qbuti {
 filter: invert();
}
/***New tab page***/
/*search input*/

#fkbx {
    background-color: #2f3d51;
}
/*Search buttons*/

input[value="Google Search"],
input[value="I'm Feeling Lucky"] {
    background-image: none !important;
    background-color: #2f3d51 !important;
}
input[value="Google Search"]:hover,
input[value="I'm Feeling Lucky"]:hover {
    background-image: none !important;
    background-color: #2f3d51 !important;
    color: #686d7b !important;
    border-color: #686d7b !important;
}
