@-moz-document
  url-prefix("https?://www.google.(com|([a-z]{2}))(.[a-z]{2})?."),
  regexp("https?://www.google.(com|([a-z]{2}))(.[a-z]{2})?/((\\?|webhp|search|gfe_rd|auth|gws_rd|#q|imghp|#gfe_rd|#safe|#pws|#tbs|#gws|#tbm).*)"),
  regexp("https?://encrypted.google.(com|([a-z]{2}))(.[a-z]{2})?/((\\?|webhp|search|gfe_rd|auth|gws_rd|#q|imghp|#gfe_rd|#safe|#pws|#tbs|#gws|#tbm).*)"),
  regexp("https?://encrypted.google.(com|([a-z]{2}))(.[a-z]{2})?."), regexp("https?://www.google.(com|([a-z]{2}))(.[a-z]{2})?/_/chrome/newtab\\?.*") {


/* TLV Night Mode default theme colors
Background: #282C34
Text: #ABB2BF
Border: #464A54
Link: #769EC1
Visited LInk: #C18176
Hover color: rgb(104, 109, 123)	
*/

html,
html > body {
    background-color: #282C34 !important;
    color: #ABB2BF !important;
}
html * {
    color: rgb(171, 178, 191);
    box-shadow: none;
    border-color: rgb(70, 74, 84) !important;
}
html::selection {
    background: rgba(142, 142, 142, 0.3) !important;
}
html a:link {
    color: #769EC1 !important;
}
html.tlvNightModeOn a:visited {
    color: #C18176 !important;
}
/*Top bar and search input*/

#cnt > div,
#hdtbSum,
#gb + div div {
    background: #282C34 !important;
}
#hdtb {
    border-bottom: 1px solid #464A54;
}
#sfdiv {
    background-color: rgb(40, 44, 52) !important;
}
#sfdiv >div {
    background-color: rgb(40, 44, 52) !important;
}
#sbtc > div:not(.sbibtd) .sbsb_a {
    background-color: rgb(40, 44, 52) !important;
}
#sb_ifc0,
#gs_st0,
#sfdiv > div > div {
    background-color: #282C34 !important;
}
#sb_ifc0 {
    border: 1px solid rgb(70, 74, 84) !important;
}
#sbtc > div.gstl_0.sbdd_a > div:nth-child(2) > div.sbdd_b > div > ul > li:hover {
    background: rgb(70, 74, 84) !important;
}
#searchform div[aria-label="Google apps"] > * {
    background: rgb(70, 74, 84) !important;
}
/*Search button*/

#_fZl:hover svg {
    fill: #686D7B;
}
/*Speech input microphone button*/

#gs_st0 {
    display: none;
}
/*Settings button*/

#hdtb .hdtb-mitem a#abar_button_opt:hover {
    color: #ABB2BF;
}
/*More button*/

#hdtb .hdtb-mitem a.hdtb-dd-b:hover {
    color: #ABB2BF;
}
#lb #_P9o {
    background-color: #282C34 !important;
}
#hdtb-msb .hdtb-mitem:not(.hdtb-msel) a {
    color: #ABB2BF !important;
}
#hdtb-msb .hdtb-mitem:not(.hdtb-msel):hover a {
    color: rgb(104, 109, 123) !important;
}
/*tools menu hover*/

#hdtb-tls:hover {
    background-color: #282C34 !important;
    background-image: none !important;
    border-color: rgb(104, 109, 123) !important;
}
/*Dropdown menus for button when click tools*/

.hdtbU.hdtb-mn-o {
    background-color: #282C34 !important;
}
.hdtbU.hdtb-mn-o li {
    background-color: #282C34 !important;
}
/*Dropdown menu for settings button*/

#ab_options {
    background-color: #282C34 !important;
}
/*Chrome apps button top right*/

#gbwa .gb_b.gb_3b {
    background-position-x: 64px;
    background-position-y: -35px;
}
/*Notification bell*/

#gbw .gb_Ac.gb_Bc.gb_3b {
    background-position-x: -70px !important;
    background-position-y: 0px !important;
    background-color: #6f6f6f !important;
}
/*Account Button*/

#gbw a[href^="https://accounts.google.com"] span {
    background-image: none !important;
}
#gbw a[href^="https://accounts.google.com"] span:before {
    background-image: none !important;
    content: "Y" !important;
    position: relative !important;
    top: 5px !important;
    font-size: 1.5em !important;
}
/*Account button popup*/

#gbw div[aria-label="Account Information"] {
    background-color: #282C34;
}
#gbw div[aria-label="Account Information"] a[href="https://myaccount.google.com/?utm_source=OGB"] {
    color: #ececec !important;
}
#gbw div[aria-label="Account Information"] > div:last-child,
#gbw div[aria-label="Account Information"] > div:last-child a {
    background-color: #282C34;
}
/*Search Results*/

#ires .g a {
    color: #769EC1 !important;
}
#ires .g a:visited {
    color: #C18176 !important;
}
cite {
    color: #ABB2BF !important;
}
#ires .g cite {
    color: #ABB2BF !important;
}
#ires #nqsbq {
    background-color: rgb(40, 44, 52) !important;
}
#ires .g cite + div > a {
    background-color: rgb(40, 44, 52) !important;
}
#ires .g cite + div > div {
    background-color: rgb(40, 44, 52) !important;
}
g-inner-card {
    background-color: rgb(40, 44, 52) !important;
    border: 1px solid rgb(70, 74, 84) !important;
}
g-scrolling-carousel g-fab {
    background-color: inherit !important;
}
/*pdf listing*/

#rso .g span.w {
    color: #ABB2BF;
}
/*Right hand side stuff*/

#rhs_block * {
    color: #ABB2BF !important;
}
/*overlay thing that shows briefly when you do an instant search and it replaces the results*/

.flyr-o,
.flyr-w,
._Db:hover {
    background-color: #282C34 !important;
}
/*footer*/

#fbar {
    background-color: rgb(40, 44, 52) !important;
}
#foot #navcnt .cur {
    color: #b1b1b1 !important;
}
/*MarkSearch Stuff*/

#msResultsBox {
    background-color: #282C34 !important;
}
.msSearchButtonResultsPageGoogle span {
    color: white !important;
}
/*Calculator*/

#ires #rso #cwmcwd {
    border: 1px solid #464A54 !important;
    background-color: #282C34 !important;
}
#cwmcwd #cwtlbb + .cwtlwm {
    background-color: #282C34 !important;
}
#cwmcwd .cwrb-tpl,
#cwmcwd .cwdb-tpl,
#cwmcwd .cwdgb-tpl,
#cwmcwd .cwdrsb-tpl,
#cwmcwd .cwlgb-tpl {
    background: #282C34 !important;
}
#cwmcwd .cwrb-tpl:hover,
#cwmcwd .cwdb-tpl:hover,
#cwmcwd .cwdgb-tpl:hover,
#cwmcwd .cwdrsb-tpl:hover,
#cwmcwd .cwlgb-tpl:hover {
    border: 1px solid rgb(104, 109, 123) !important;
}
#cwmcwd #cwtlbb.cwtlbh {
    border: 1px solid rgb(104, 109, 123) !important;
    border-top: 1px solid rgb(104, 109, 123) !important;
}
#cwmcwd #cwtlbb.cwtlbs {
    border: 1px solid #C18176 !important;
}
/*Some div that shows up when you go from search page to results page*/

#viewport > .sfbgx {
    background-color: #282C34;
}
/***New tab page***/
/*search input*/

#fkbx {
    background-color: #282C34;
}
/*Search buttons*/

input[value="Google Search"],
input[value="I'm Feeling Lucky"] {
    background-image: none !important;
    background-color: #282C34 !important;
}
input[value="Google Search"]:hover,
input[value="I'm Feeling Lucky"]:hover {
    background-image: none !important;
    background-color: #282C34 !important;
    color: rgb(104, 109, 123) !important;
    border-color: rgb(104, 109, 123) !important;
}



}
